header {
  background-color: black;
}
nav {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  color: white;
  position: relative;
}
.logo {
  & span {
    color: var(--color-primary);
  }
}
.searchBar {
  flex-grow: 1;
  margin: 0 2rem;
  max-width: 500px;
  align-self: stretch;
}

.searchBar input {
  padding: 0.75rem 0 0.75rem 0.75rem;
  width: 100%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}
.searchBar .img {
  width: 50px;
  padding: 0.25rem;
  background-color: var(--color-primary);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.searchBar img {
  width: 20px;
  height: 20px;
}

.nav__btns {
  transition: 0.3s transform ease;
  flex-direction: column;
  background: hsla(0, 0%, 0%, 0.5);
  transform: translateX(100%);
  padding: min(30vh, 10rem) 2em;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 40%;
  & button {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 700;
    padding: 0.75rem;
    border: 1px solid var(--color-primary);
    font-size: 1rem;
    width: 100%;
    white-space: nowrap;
  }
  & button:not(:last-child) {
    margin-bottom: 10px;
  }
  & .cta {
    background-color: var(--color-secondary);
    border: none;
  }
}
.btns__show {
  animation: btns__show 0.3s forwards;
}
.btns__hide {
  animation: btns__hide 0.3s forwards;
}
.initial {
  visibility: hidden;
}
.nav__menu {
  display: block;
  position: relative;
  z-index: 999;
  cursor: pointer;
  & span {
    display: block;
    width: 24px;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: 10px;
  }
  & span:not(:last-child) {
    margin-bottom: 4px;
  }
}
// Media queries
@media screen and (min-width: 768px) {
  .nav__menu {
    display: none;
  }
  .nav__btns {
    flex-direction: row;
    align-items: center;
    position: static;
    transform: translateX(0);
    padding: 0;
    & button:not(:last-child) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
  .btns__show {
    animation: none;
  }
  .btns__hide {
    animation: none;
  }
  .initial {
    visibility: visible;
  }
}
// Animations
@keyframes btns__show {
  from {
    visibility: visible;
  }
  to {
    transform: translateX(0);
  }
}
@keyframes btns__hide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    visibility: hidden;
  }
}
